body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Header */
header{
	background: #708090;
	color: #ffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #313d4b 5px solid;
}
/* All links inside of the header*/
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
/* All list items in header*/
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}
/* Branding for the header*/
header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
	padding-left: : 50px;
}

header .highlight, header .current a{
	color: #313d4b;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}
/* Showcase */
#showcase{
	min-height: 500px;
	background: url('../images/showcase.jpg') no-repeat;
	background-size: 100% 500px;
}
footer{
	min-height: 165px;
	padding: 20px;
	color: #f4f4f4;
	background-color: #313d4b;
	text-align: center;
	height: 100px;
	border-top: #708090 5px solid;
}






















