form {
    position: absolute;
    right: 11%;
    top: 40%;
    width: 360px;
}

form a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    text-align: center;
    cursor: pointer;
}

#signUpForm {
    display: none;
    top: 30%;
}

/* Full-width inputs */
input[type=text],
    [type=password],
    [type=email] {
    width: 100%;
    margin-bottom: 3px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #313d4b;
    box-sizing: border-box;
    float: right;
}

.submitFormButton {
    width: 100%;
    border: 1px solid #313d4b;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    float: right;
}

#signLink {
    color: #ffffff;
}