body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Header */
header{
	background: #708090;
	color: #ffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #313d4b 5px solid;
}
/* All links inside of the header*/
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
/* All list items in header*/
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}
/* Branding for the header*/
header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
	padding-left: : 50px;
}

header .highlight, header .current a{
	color: #313d4b;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}
.header {
    text-align: center;
}
/* Showcase */
#showcase{
	height: 500px;
	background: url('../images/showcase.jpg') no-repeat;
	background-size: 100% 500px;
}

/* Full-width inputs */
input[type=text]{
	position: absolute;
	width: 25%;
	margin: 13% 0 0 65%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #313d4b;
    box-sizing: border-box;
    float: right;

}
input[type=password] {
	position: absolute;
    width: 25%;
    margin: 16% 0 0 65%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #313d4b;
    box-sizing: border-box;
    float: right;
}

.loginButton {
	position: absolute;
	width: 25%;
	margin: 19% 0 0 65%;
	border: 1px solid #313d4b;
    background-color: #FF69B4;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    float: right;
}
#signLink{
	position: absolute;
	margin: 22% 0 0 69%;
	color: #ffffff;
}

footer{
	position: relative;
	bottom: 0;
	height: 187px;
	padding: 20px;
	color: #f4f4f4;
	background-color: #313d4b;
	text-align: center;
	border-top: #708090 5px solid;

a {
    text-align: center;
    margin-top: 8px;
}